* {
    margin:0;
    padding: 0;
    text-align: center;
}

h2{
    background-color: #ed8d0f;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
}
.choice:hover{
    cursor: pointer;
    opacity:50%;
}

img{
    height: 150px;
    width: 150px;
}
.choices{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1rem;
}
#user,#Comp{
    font-size: 4rem;
}
.msg-container {
    margin-top: 3rem;
  }
  
  #msg {
    background-color: #ed8d0f;
    color: #fff;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }